<h1>Coupon Form</h1>

<%= form_for @coupon do |c| %>
  <%= c.label :store %>
  <%= c.text_field :store %>
  <br>
  <%= c.label :coupon_code %>
  <%= c.text_field :coupon_code %>
  <br>
  <%= c.submit "Submit Coupon" %>
<% end %>
